<h2>Resumen</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellat asperiores commodi, harum omnis eos laboriosam magni! Explicabo, impedit fuga. Perferendis assumenda amet nam culpa. Voluptatum earum inventore exercitationem facere.</p>

<h3>Yo</h3>
<h4>Raul Ereño</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi aspernatur facilis quibusdam, vitae maiores maxime, reiciendis minima dignissimos id molestiae expedita perspiciatis aliquid sunt dicta repellat quis animi ut quo.</p>
<ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
</ul>

<h3>Educación:</h3>
<h4>Gradudado en Humanidades y Ciencias Sociales</h4>
<p>Instituto Adventista, Resistencia, Chaco</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias sed exercitationem a, aspernatur necessitatibus totam at magni cupiditate omnis, ex ea ipsa aliquam illo eum laudantium laborum quibusdam veritatis nam.</p>

<h4>En formacion:</h4>
<h5>Desarrollador Full Stack en CoderHouse:</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet praesentium debitis eveniet incidunt ab officia non dignissimos odit fugit! Eum asperiores cum soluta assumenda hic, odit quisquam odio quos.</p>
<h5>Desarrollador Full Stack en Argentina Programa:</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur neque sapiente est mollitia nisi aspernatur voluptatum. Dolorem animi nostrum iusto, id labore totam, quae cupiditate tenetur accusantium, quod obcaecati voluptas!</p>