<header>
    <div>
        <img src="" alt="">
        <h2>Raúl Ereño</h2>
        <div class="redes-sociales">
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href=""><img src="" alt="">Inicio</a></li>
            <li><a href=""><img src="" alt="">Sobre Mi</a></li>
            <li><a href=""><img src="" alt="">Resumen</a></li>
            <li><a href=""><img src="" alt="">Portfolio</a></li>
        </ul>
    </nav>
</header>
