<div>
    <h2></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab inventore corporis tempore asperiores doloremque eum autem tenetur, enim numquam soluta nisi excepturi eligendi ipsam similique, blanditiis ex praesentium fugit accusantium.</p>

    <img src="" alt="">
    <h3>Desarrollador Full Stack</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, rem maiores soluta sint fugit aperiam perferendis ab at asperiores.</p>

    <ul>
        <li><strong>Cumpleaños:</strong></li>
        <li><strong>Numero:</strong></li>
        <li><strong>Ciudad:</strong></li>
        <li><strong>Edad:</strong></li>
    </ul>
    <ul>
        <li><strong>Profesion:</strong></li>
        <li><strong>Email:</strong></li>
        <li><strong>Sitio web:</strong></li>
        <li><strong>GitHub:</strong></li>
    </ul>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo suscipit rerum assumenda optio, beatae dignissimos. Sed aliquid ducimus, voluptas accusamus, voluptates magni ea illo ullam sint repudiandae obcaecati, perspiciatis cumque!</p>
</div>
